@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Gowun Dodum', sans-serif;
}


.login-wrap>.login-input>div:nth-of-type(1){
    font-family: 'Black Han Sans', sans-serif;
    color: var(--dark);
    font-size: 40px;
}
.login-wrap>.login-input>div:nth-of-type(2){
    color: var(--dark);
    font-family: 'Gowun Dodum', sans-serif;
    margin-top: 60px;
    font-weight: 500;
}


input[type='radio'],
input[type='radio']:checked {
    appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 100%;
    margin-right: 0.1rem;
}

input[type='radio'] {
    background-color: #fff;
    border: 1px solid rgb(51, 51, 51);
}

input[type='radio']:checked {
    background-color: rgb(51, 51, 51);
}



[name=selLogin] {
    margin-top: 45px;
}
[name=selLogin]:nth-of-type(1) {
    margin-left: 105px;
}
#login-ul{
	padding-left: 0;
}

li{
    list-style: none;
}
.login-wrap{
    height: 530px;
    width: 620px;
    margin: 90px auto;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    
}
.login{
    position: relative;
    width: 500px;
    height: 100px;
    
}
form>.login>ul{
    position: relative;
    margin-top: 15px;
    margin-left: 105px;
}
form>.login ul li .input01{
    width: 300px;
    height: 40px;
}
.Linput01{
    position: relative;
}
.Linput01 input{
    width: 100%;
    height: 40px;
    padding-left: 15px;
}
.login-input>div:nth-of-type(1){
    height: 60px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
}
.login-input>div:nth-of-type(2) {
    text-align: center;
    margin: 0 auto;
}
.Llabel{
    position: absolute;
    left: 15px;
    top: 8px;
    color: #999;
}
.Llabel + input{
    border-radius: 5px;
    border: 0;
    outline: 0;
    box-shadow:  inset 1px 1px 2px #fff, inset -1px -1px 2px #BABECC;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
form>.login ul li:nth-of-type(1){
    padding-bottom: 10px;
}

.login-btn{
    position: absolute;
    right: 0;
    width: 90px;
    height: 90px;
    bottom: 0px;
    background-color: #ffc107;
    color: #fff;
    border: none;
    outline: 0;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #BABECC;
     &:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #BABECC;
    }
    
}

.member-box{
    width: 395px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px 0;
    margin-left: 105px;
    box-shadow:  inset 1px 1px 2px #fff, inset -1px -1px 2px #BABECC;
}
.member-box a{
    font-size: 13px;
    text-decoration: none;
    color: black;
}

