.noticeDetail-wrap{
    width: 800px;
    margin: 0 auto;
    margin-top: 200px;
}

.notice-title-wrap{
    margin: 0 auto;
    text-align: center;
}

.notice-enrollDate{
    text-align: right;
    border-bottom: 1px solid gray;
    padding-bottom: 7px;
}

.notice-detail-content{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.notice-detail-content>img{
    border-radius: 0px;
}

.notice-detail-btn{
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}