.notice-wrap{
    margin: 0 auto;
    margin-top: 100px;
    width: 1200px;
}

.notice-title>h1{
    text-align: center;
}

.notice-search{
    margin: 0 auto;
    margin-top: 70px;
}

form{
    display: flex;
    justify-content: center;
}

.w3-button>span{
    font-size: 40px;
    line-height: -10px;
    text-align: center;
}

.notice-write-btn{
    margin: 0 auto;
    margin-top: 50px;
    text-align: right;
    width: 800px;
}

.notice-write-btn>a{
    display: inline-block;
    width: 100px;
    height: 40px;
    text-decoration: none;
    background-color: rgb(94, 94, 94);
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}

.notice-write-btn>a:hover{
    color: white;
}

.notice-tbl-wrap{
    margin-top: 10px;
}

.notice-tbl{
    margin: 0 auto;
    width: 800px;
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.notice-tbl tr{
    height: 70px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.7);
}

.notice-tbl tr:last-child{
    border-bottom: 1px solid gray;
}

.notice-tbl tr>td:last-child>a{
    text-decoration: none;
}

.notice-tbl tr>td:last-child>a:hover{
    color: #212529;
}

.paging{
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.paging>a{
    display: inline-block;
    width: 30px;
    text-decoration: none;
    font-size: 20px;
}

.paging>a:hover{
    color: #212529;
}