.notice-write-wrap{
    margin: 0 auto;
    margin-top: 200px;
    width: 900px;
}

.notice-write-title{
    margin-bottom: 25px;
}

.notice-write-title>h1{
    text-align: center;
}

.require-sign{
    text-align: right;
}

.notice-tbl{
    width: 900px;
    text-align: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

table>tr{
    height: 70px;
}

.notice-tbl>tr>th{
    text-align: center;
}

.notice-write-btn{
    margin : 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.btn-upload{
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-upload:hover{
    background: rgb(77,77,77);
    color: #fff;
}

#file {
    display: none;
}