@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
/*일반회원 마이페이지*/
.content-wrap{
	height: 900px;
	width: 1100px;
	min-width: 850px;
	margin: 35px auto;
	padding: 0 20px;
}
.sidebar{
	float: left;
	width: 20%;
	padding: 60px 0 30px;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
}
.category{
	display: block;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
	list-style-type: none;
}
.category>li div {
	padding: 10px 0;
}
.category>li div a{
	text-decoration: none;
}

.sidebar-2{
	border-top: 1px solid #eee;
}

.content{
	border-top: 1px solid #eee;
}

/*일반회원 예약 내역*/
#content{
    float: left;
    margin-right: 50px;
    padding-top: 15px;
    padding-left: 20px;
}

.table{
	width: 120%;
}


/* 아이디 중복체크 */
#check-container{
	text-align: center;
	margin-top: 50px;
	border: 2px solid #dc3545;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 8px;
}
#check-container>div>span{
	font-size: 20px;
	font-weight: 600;
}
#check-container .closeBtn{
	width: 60px;
	height: 35px;
	border-style: none;
	background-color: #dc3545;
	color: #fff;
	transition: 0.5s;
	cursor:pointer;
	border-radius: 7px;
	margin-bottom: 5px;
}

.id-wrap>.checkId{
	height: 30px;
}
.id-wrap>.ownerCheckId{
	height: 30px;
}
.searchIdBtn{
	width: 60px;
	height: 35px;
	margin-top: 10px;
	border-style: none;
	background-color: #dc3545;
	color: #fff;
	transition: 0.5s;
	cursor:pointer;
	border-radius: 7px;
	margin-bottom: 5px;
}